<div ng-controller="compareCtrl"
     class="compare-plans-container">
    <div class="header">
        <div class="text">Compare Plans</div>
    </div>


    <div class="plans">
        <div ng-repeat="plan in plansToCompare track by $index">

            <div class="select">
                <label class="select-label"
                       ng-class="{'plan-selected' : plansToCompare[$index].length > 0}">Select a Plan</label>
                <select ng-model="plansToCompare[$index]"
                        ng-change="getComparedPlan($index, plansToCompare[$index])">
                    <option ng-repeat="p in planOptions track by $index"
                            value="{{p}}">{{p.title}}</option>
                </select>
            </div>


            <div class="results">
                <div class="result">
                    <div class="label">Revenue</div>
                    <div class="content"
                         ng-if="plansSelected[$index]"
                         ng-class="{'highest-value': indicators.max_revenue == plansSelected[$index].summary_metrics.revenue}">
                        ${{plansSelected[$index].summary_metrics.revenue_disp}}</div>
                    <div class="content"
                         ng-if="!plansSelected[$index]">------</div>
                </div>
                <div class="result">
                    <div class="label">Cost</div>
                    <div class="content"
                         ng-if="plansSelected[$index]"
                         ng-class="{'highest-value': indicators.max_cost == plansSelected[$index].summary_metrics.cost}">
                        ${{plansSelected[$index].summary_metrics.cost_disp}}</div>
                    <div class="content"
                         ng-if="!plansSelected[$index]">------</div>
                </div>
                <div class="result">
                    <div class="label">ROI</div>
                    <div class="content"
                         ng-if="plansSelected[$index]"
                         ng-class="{'highest-value': indicators.max_roi_percent == plansSelected[$index].summary_metrics.roi_percent}">
                        {{plansSelected[$index].summary_metrics.roi_percent_disp}}</div>
                    <div class="content"
                         ng-if="!plansSelected[$index]">------</div>
                </div>
                <div class="result">
                    <div class="label">Success Rate</div>
                    <div class="content"
                         ng-if="plansSelected[$index]"
                         ng-class="{'highest-value': indicators.max_success_rate == plansSelected[$index].summary_metrics.success_rate}">
                        {{plansSelected[$index].summary_metrics.success_rate_disp}}</div>
                    <div class="content"
                         ng-if="!plansSelected[$index]">------</div>
                </div>
            </div>

        </div>
        <div class="add-compare">
            <!-- <button class="wfo-button primary _icon">
                <i class="fa fa-plus"></i>
            </button> -->
        </div>
    </div>

</div>