@import "../../../scss/variables.scss";

.wfo-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    .title-greeting {
        display: flex;

        .logo {
            margin: 0 20px;

            i {
                font-size: 5em;
            }
        }

        .text {

            .title {
                font-size: 3em;
                margin: 0 0 20px 0;
            }

            .info {
                font-size: 1.5em;
                margin: 20px 0 20px 0;
            }

            .copywrite {
                font-size: 0.75em;
            }
        }
    }
}
