<div ng-controller="navigationComponentCtrl"
     id="wfoNavContainer"
     class="wfo-nav-container">

    <div class="pages">
        <ul>
            <li ng-class="{'active': path.indexOf('home') != -1}">
                <a href="#!home">Home</a>
            </li>
            <li ng-class="{'active': path.indexOf('input') != -1}"
            ng-click="navigateTo('FTE')">
                <a>Plan Inputs</a>
                <!-- <a href="#!input/FTE">Plan Inputs</a> -->
                <ul class="step-options">
                    <li ng-class="{'active-step': pathParams.step.indexOf('FTE') != -1}">
                        <a ng-click="navigateTo('FTE'); $event.stopPropagation()">FTE</a>
                        <!-- <a href="#!input/FTE">FTE</a> -->
                    </li>
                    <li ng-class="{'active-step': pathParams.step.indexOf('AvailableInventory') != -1}">
                        <a ng-click="navigateTo('AvailableInventory'); $event.stopPropagation()">Available Inventory</a>
                        <!-- <a href="#!input/AvailableInventory">Available Inventory</a> -->
                    </li>
                    <li ng-class="{'active-step': pathParams.step.indexOf('CaseConstraints') != -1}">
                        <a ng-click="navigateTo('CaseConstraints'); $event.stopPropagation()">Case Constraints</a>
                        <!-- <a href="#!input/CaseConstraints">Case Constraints</a> -->
                    </li>
                    <li ng-class="{'active-step': pathParams.step.indexOf('ResourceFlexibility') != -1}">
                        <a ng-click="navigateTo('ResourceFlexibility'); $event.stopPropagation()">Resource Flexibility</a>
                        <!-- <a href="#!input/ResourceFlexibility">Resource Flexibility</a> -->
                    </li>
                </ul>
            </li>
            <li ng-class="{'active': path.indexOf('output') != -1}">
                <a>Plan Output</a>
            </li>
            <!-- <li ng-class="{'active': path.indexOf('output') != -1}">
                <a href="#!output">Plan Output</a>
            </li> -->
            <li ng-class="{'active': path.indexOf('compare') != -1}">
                <a href="#!compare">Compare</a>
            </li>
        </ul>
    </div>


</div>